*.iml
.gradle/
/local.properties
/.idea/
/.kotlin/
.DS_Store
Thumbs.db
/build/
/app/build/
/admin/build/
/sonexa-backend-springboot/uploads/
/sonexa-backend-springboot/target/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.log
google-services.json
*.keystore
!debug.keystore
node_modules/
server/public/uploads/

